*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

img{
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
}

body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* container principale */
#app{
    width: 90%;
    height: 80vh;
    border: 1px solid black;
}

/* header */
header{
    display:flex;
}
#left-header,
#right-header{
    height: 8vh;
    border: 1px solid black;
}

#left-header,
#left-contact{
    width: 30%;
}

#right-header,
#right-chat{
    width: 70%;
}

#left-header,
#right-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: #B5B5B5;
    background-color:#EAEAEA;
    padding: 0 20px;
}

#contact-right-header{
    display: flex;
}

#contact-right-header img{
    margin-right: 10px;
}

#contact-right-header span{
    font-size: 1.3rem;
}


#list-right-header{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

/* central-container */
#central-container{
    display: flex;
    height: 72vh;
    width: 100%;
}

#left-contact,
#right-chat{
    height: 100%;
    border: 1px solid black;
}

#footer-chat{
    width: 100%;
}

/* left-contact */
#notify,
#search,
#contact{
    width: 100%;
    border: 1px solid black;    
}

#notify,
#search{
    height: 9vh;
}
#notify{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #B6E8FF;;
}

#notify div:first-child{
    height: 7vh;
    aspect-ratio: 1;
    line-height: 7vh;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: white;
    color: #B6E8FF;
}

#notify span{
display: inline-block;    
margin-left: 10px;
}

#contact{
    height: 54vh;
    overflow-y: scroll;
}


/* right-chat */
#right-chat{
    display: flex;
    flex-direction: column;
}

#body-chat{
    width: 100%;
    height: 90%;
    border: 1px solid black;
    overflow-y: scroll;
}