<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fontawesome -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- styile -->
        <link rel="stylesheet" href="./css/master.css">
        <!-- responsive -->
        <link rel="stylesheet" href="./css/responsive.css">
        <!-- luxon js -->
        <script
            src='https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js'></script>
        <!-- vue js -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <title>PippoZapp</title>
    </head>

    <body>
        <!-- header hidden -->
        <header class="header-desktop">
        </header>
        <!-- /header hidden -->

        <!-- main -->
        <main id="app">
            <div class="container">
                <!-- first container list-chat -->
                <section class=" first-container list-chat">
                    <div class="user-card">
                        <img src="./img-ritagliate/13.jpg" alt>

                        <ul>
                            <li>
                                <a href><i
                                        class="fa-solid fa-circle-notch"></i></a>
                            </li>
                            <li>
                                <a href><i class="fa-solid fa-message"></i></a>
                            </li>
                            <li>
                                <a href><i
                                        class="fa-solid fa-ellipsis-vertical"></i></a>
                            </li>
                        </ul>
                    </div>

                    <!-- li-notify item hidden in mobile e tablet -->
                    <div id="li-notify">
                        <i @click.stop="notify = !notify"
                            v-show="notify === false"
                            class="fa-solid fa-bell-slash"></i>
                        <i @click.stop="notify = !notify"
                            v-show="notify === true"
                            class="fa-solid fa-bell"></i>
                        <div>
                            <h3>Ricevi notifiche di nuovi messaggi</h3>
                            <a v-show="notify === false" href>Attiva notifiche
                                desktop</a>
                            <a v-show="notify === true" href>Disattiva notifiche
                                desktop</a>

                        </div>
                    </div>
                    <!-- li-notify item hidden in mobile e tablet -->

                    <!-- li-search item hidden in mobile e tablet -->
                    <div id="li-search">
                        <i class="icon fa-solid fa-magnifying-glass"></i>
                        <input
                            @input="searchContact"
                            v-model="textContact"
                            @keyup.enter="searchContact"
                            type="text"
                            placeholder="cerca o inizia una nuova chat">
                    </div>
                    <!-- li-search item hidden in mobile e tablet -->
                    <ul class="overflow">
                        <li v-for="(curContact,index) in contacts"
                            v-show="curContact.visible"
                            class="friend-card"
                            @click="count = index">

                            <img
                                :src="`./img-ritagliate/avatar${curContact.avatar}.jpg`"
                                alt>
                            <!-- friend name hidden -->
                            <div class="friend-name">
                                <h3>{{curContact.name}}</h3>
                                <span
                                    v-if="curContact.messages.length !== 0">{{curContact.messages[curContact.messages.length-1].message}}</span>
                                <span
                                    v-if="curContact.messages.length !== 0">{{curContact.messages[curContact.messages.length-1].date}}</span>
                            </div>
                            <!-- friend name hidden -->
                        </li>
                    </ul>
                </section>
                <!-- /first container list-chat -->

                <!-- right container -->
                <div class="second-container">
                    <!-- main-header -->
                    <header class="main-header">

                        <!-- user -->
                        <div class="user">
                            <div class="img-header">
                                <img
                                    :src="`./img-ritagliate/avatar${contacts[count].avatar}.jpg`"
                                    alt>
                            </div>
                            <div class="text-header">
                                <h3 class="username"> {{ contacts[count].name
                                    }}</h3>
                                <span
                                    v-if="contacts[count].messages.length !== 0"
                                    class="access">
                                    {{contacts[count].messages[contacts[count].messages.length-1].date}}</span>
                            </div>
                        </div>
                        <!-- /user -->

                        <!-- list-header -->
                        <div class="list-header">
                            <ul>
                                <!-- inserire classe hidden dinamica -->
                                <li>{{ onlineMessage }}</li>
                                <li>
                                    <a href><i
                                            class="fa-solid fa-magnifying-glass"></i></a>
                                </li>
                                <li>
                                    <a href><i
                                            class="fa-solid fa-paperclip"></i></a>
                                </li>
                                <li>
                                    <div                
                                        @click.prevent.stop="menuHam =!menuHam" href
                                        class="menu-header">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                        <div class="flex-col"
                                        v-show="menuHam === true">
                                        <span @click.prevent.stop="console.log('cancella chat')">Cancella chat</span>
                                        <span @click.prevent.stop="console.log('svuota messaggi')">Svuota messaggi</span>
                                    </div>
                                </div>
                                    
                                </li>
                            </ul>

                        </div>
                        <!-- list-header -->

                        </header>
                        <!-- /main-header  -->

                        <!-- section chat -->
                        <section class="section-chat">

                            <div
                                v-for="curMessage, index in contacts[count].messages"
                                class="message"
                                :class="curMessage.status === 'sent' ? 'me-chat' : 'you-chat'">
                                <p>{{curMessage.message}}</p>
                                <div
                                    @click="curMessage.info = !curMessage.info"
                                    class="chevron fa-solid fa-chevron-down">
                                    <div
                                        :class="{'hidden' : curMessage.info === false}"
                                        class="menu-ham">
                                        <ul>
                                            <li>
                                                <button>
                                                    info messaggi
                                                </button>
                                            </li>
                                            <li>
                                                <button
                                                    @click="deleteMessage(curMessage)">
                                                    cancella messaggi
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <span
                                    :class="{'hidden' : curMessage.info === true}">{{curMessage.date}}</span>
                            </div>

                        </section>
                        <!-- /section chat -->

                        <!-- footer -->
                        <footer>

                            <!-- section input message -->
                            <a href><i
                                    class="emoji icon fa-regular fa-face-smile"></i></a>
                            <section class="input-message">
                                <input type="text"
                                    placeholder="Scrivi un messaggio"
                                    v-model.trim="newMessage"
                                    @keyup.enter="sendMessage(count)">
                            </section>
                            <a v-on:click.prevent
                                v-show="newMessage.length === 0"
                                href><i
                                    class="icon fa-solid fa-microphone"></i></a>
                            <a v-on:click.prevent="sendMessage(count)"
                                v-show="newMessage.length !== 0" href>
                                <i
                                    class="icon fa-regular fa-paper-plane"></i></a>
                            <!-- /section input message -->

                        </footer>
                        <!-- /footer -->

                    </div>
                    <!-- /right container -->
                </div>
            </main>
            <!-- /main -->

            <!-- footer hidden -->
            <footer class="footer-desktop">
            </footer>
            <!-- footer hidden -->

            <!-- script -->
            <script src="./js/script.js"></script>
        </body>

    </html>